# Quarto
/.quarto/
/_site/
/_book/
 # /docs/ removido para publicação no GitHub Pages
*.html

# R
.Rhistory
.RData
.Rproj.user
.Renviron
*.Rproj

# Cache
*_cache/
*_files/
/_freeze/

# OS
.DS_Store
Thumbs.db
*~

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary
tmp/
temp/
*.tmp
