project:
  type: book
  output-dir: _book

book:
  title: "Meu Quarto Book"
  subtitle: "Documentação e Análises em R"
  author: "Rafael da Silva Fernandes"
  date: today
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      light: flatly
      dark: darkly
    code-fold: true
    code-tools: true
    toc: true
    toc-depth: 3
    number-sections: true
    link-external-newwindow: true
  pdf:
    documentclass: scrreprt
    toc: true
    number-sections: true

execute:
  echo: true
  warning: false
  message: false
  cache: true
  freeze: auto

editor: source
